.wcf_heading {
  text-align: center;
  color: black;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  font-family: "Cabin", sans-serif;
  font-size: 25px;
  padding: 30px;
}

h3 {
  text-align: center;
  color: black;
  margin: 0;
  font-family: "Cabin", sans-serif;
  padding: 10px;
}

h3 a {
  text-decoration: none;
  color: #22a7f0;
}

.wcf_container {
  height: auto;
  width: 50%;
  font-family: "Cabin", sans-serif;
  margin: 0 auto;
  margin-top: 40px;
  display: block;
  background: white;
  padding: 20px;
  border-radius: 15px;
}

.wcf_form {
  font-family: "Cabin", sans-serif;
  padding: 0;
  width: 90%;
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.wcf-feedback-input {
  color: #000;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 18px;
  border-radius: 0;
  margin-right: 0;
  line-height: 22px;
  background-color: none;
  padding: 13px 13px 13px 13px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 2px solid #22a7f0;
  border-top: none;
  border-left: none;
  border-right: none;
}

.wcf-feedback-input:focus {
  box-shadow: 0;
  color: #3498db;
  transition: 0.4s ease;
  outline: none;
  border-bottom: 2px solid black;
  padding: 13px 13px 13px 13px;
}

.focused {
  color: #30aed6;
  border: #30aed6 solid 3px;
}

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

.button-blue {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: #22a7f0;
  color: white;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  margin-top: -4px;
  font-weight: 700;
  transition: 0.3s ease;
}

.button-blue:hover {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  background: #22a7f0;
}

.wcf_submit:hover {
  color: #22a7f0;
}
